*
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

@mixin btn 
{
    padding: 20px 35px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #3f7f22, #4ecb3a);
    color: #ffffff;
}

nav
{
    max-width: 1400px;
    margin: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headeicons
    {
        display: none;
    }
    .listhead
    {
        display: flex;
        gap: 30px;
        font-size: 20px;
    }

    .buttons
    {
        display: flex;
        align-items: center;
        gap: 30px;

        button
        {
            @include btn()
        }
    }
}

.kampir
{
    max-width: 1400px;
    margin: auto;
    height: 751px;
    background-image: url(./Слой\ 2\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .listkampir
    {
        margin-top: 100px;
        width: 80%;
        height: 515px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .listbottom
        {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div
            {
                display: flex;
                gap: 10px;
            }
        }

        .listtop
        {
            font-size: 24px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .span
            {
                font-size: 60px;
            }
        }
    }
}















@media(max-width: 530px)
{
    nav
    {
        padding: 20px;
        .listhead
        {
            display: none;
        }
        .buttons
        {
            display: none;
        }
        .headeicons
        {
            display: block;
            display: flex;
            gap: 10px;
        }
        img
        {
            width: 250px;
        }
    }

    .kampir
    {
        
        width: 90%;
        padding: 0px;

        .listkampir
        {
            .listtop
            {
                width: 100%;

                .span
                {
                    font-size: 20px;
                }

                h1
                {
                    font-size: 16px;
                }
            }

            .listbottom
            {
                flex-direction: column;
                align-items: start;
                row-gap: 50px;
            }
        }
    }
}