*
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

@mixin btn()
{
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #3f7f22, #4ecb3a);
    color: #ffffff;
}

nav
{
    max-width: 1400px;
    margin: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headeicons
    {
        display: none;
    }
    .listhead
    {
        display: flex;
        gap: 30px;
        font-size: 20px;
    }

    .buttons
    {
        display: flex;
        align-items: center;
        gap: 30px;

        button
        {
            @include btn()
        }
    }
}

.kampir
{
    max-width: 1400px;
    margin: auto;
    height: 751px;
    background-image: url(./Слой\ 2\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .listkampir
    {
        margin-top: 100px;
        width: 80%;
        height: 515px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .listbottom
        {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div
            {
                display: flex;
                gap: 10px;
            }
        }

        .listtop
        {
            font-size: 24px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .span
            {
                font-size: 60px;
            }
        }
    }
}

.kampir2
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .listleft
    {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        .p1
        {
            width: 605px;
            font-size: 48px;
            font-weight: 400px;
        }
        
        .p2
        {
            width: 320px;
            color: gray;
            font-weight: 400;
        }
    }
    .im1
    {
        width: 60%;
    }
    .im2
    {
        display: none;
    }
}

.info
{
    max-width: 1300px;
    margin: auto;

    h1
    {
        text-align: center;
        font-weight: 400;
        width: 90%;
    }

    .flexbox_info
    {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        gap: 50px;

        img
        {
            width: 450px;
        }

        .minicards
        {
            width: 899px;
            display: flex;
            flex-wrap: wrap;

            .card_mini
            {
                width: 360px;
                display: flex;
                gap: 10px;

                .cardmini_list
                {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    p
                    {
                        color: gray;
                        width: 250px;
                    }
                }
            }
        }
    }
}

.voyma
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

    .voyma_header
    {
        display: flex;
        justify-content: space-between;

        button
        {
            @include btn
        }
        h1
        {
            font-weight: 400;
        }
    }

    .voyma_images
    {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .img1
        {
            width: 320px;
        }
        .img2
        {
            width: 520px;
        }
        .img3
        {
            width: 320px;
        }
    }

    .footer_voyma
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        row-gap: 10px;

        h3
        {
            color: #5E4520;
        }

        button
        {
            display: none;
            @include btn
        }
    }
}

.video
{
    max-width: 1200px;
    display: block;
    margin: auto;
    margin-top: 100px;
}

.box
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

    .jjs
    {
        text-align: center;
    }

    .lite
    {
        display: flex;
        justify-content: space-between;
        padding: 50px;
        border: 2px solid rgb(212, 212, 212);
        border-radius: 20px;
        gap: 50px;
        margin-top: 30px;

        .left_lite
        {
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .btnl
            {
                display: flex;
                justify-content: space-between;

                h1
                {
                    font-size: 64px;
                    color: #323638;
                }

                button
                {
                    @include btn
                }
            }

            .chek
            {
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                div
                {
                    display: flex;
                    gap: 10px;
                }
            }

            .malochniy
            {
                padding: 30px;
                background-color: #FFFAF2;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                .nomer
                {
                    display: flex;
                    justify-content: space-between;
                }

                .plus
                {
                    display: flex;
                    gap: 10px;
                }

                .lux
                {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}













@media(max-width: 530px)
{
    nav
    {
        padding: 20px;
        .listhead
        {
            display: none;
        }
        .buttons
        {
            display: none;
        }
        .headeicons
        {
            display: block;
            display: flex;
            gap: 10px;
        }
        img
        {
            width: 250px;
        }
    }

    .kampir
    {
        
        width: 90%;
        padding: 0px;

        .listkampir
        {
            .listtop
            {
                width: 100%;

                .span
                {
                    font-size: 20px;
                }

                h1
                {
                    font-size: 16px;
                }
            }

            .listbottom
            {
                flex-direction: column;
                align-items: start;
                row-gap: 50px;
            }
        }
    }

    .kampir2
    {
        flex-direction: column;
        padding: 10px;

        .listleft
        {
            padding: 20px;
            .p1
            {
                width: 335px;
                font-size: 24px;
            }
        }

        .im1
        {
            display: none;
        }
        .im2
        {
            display: block;
        }
    }

    .info
    {
        h1
        {
            text-align: start;
            padding: 20px;
            font-size: 24px;
        }
        .flexbox_info
        {
            flex-direction: column;
            padding: 20px;

            .minicards
            {
                width: 90%;
                gap: 40px;
            }
        }
    }

    .voyma
    {
        padding: 20px;

        .voyma_header
        {
            button
            {
                display: none;
            }
        }

        .voyma_images
        {
            .img1
            {
                display: none;
            }
            .img2
            {
                width: 90%;
            }
            .img3
            {
                display: none;
            }
        }

        .footer_voyma
        {
            button
            {
                display: block;
            }
        }
    }

    .video
    {
        width: 90%;
    }

    .lite
    {
        flex-direction: column;

        .btnl
        {
            flex-direction: column;
        }
    }
}