@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

nav {
  max-width: 1400px;
  margin: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .headeicons {
  display: none;
}
nav .listhead {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
nav .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .buttons button {
  padding: 20px 35px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(90deg, #3f7f22, #4ecb3a);
  color: #ffffff;
}

.kampir {
  max-width: 1400px;
  margin: auto;
  height: 751px;
  background-image: url(./Слой\ 2\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kampir .listkampir {
  margin-top: 100px;
  width: 80%;
  height: 515px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.kampir .listkampir .listbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kampir .listkampir .listbottom div {
  display: flex;
  gap: 10px;
}
.kampir .listkampir .listtop {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.kampir .listkampir .listtop .span {
  font-size: 60px;
}

.kampir2 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kampir2 .listleft {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.kampir2 .listleft .p1 {
  width: 605px;
  font-size: 48px;
  font-weight: 400px;
}
.kampir2 .listleft .p2 {
  width: 320px;
  color: gray;
  font-weight: 400;
}
.kampir2 .im1 {
  width: 60%;
}
.kampir2 .im2 {
  display: none;
}

.info {
  max-width: 1300px;
  margin: auto;
}
.info h1 {
  text-align: center;
  font-weight: 400;
  width: 90%;
}
.info .flexbox_info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 50px;
}
.info .flexbox_info img {
  width: 450px;
}
.info .flexbox_info .minicards {
  width: 899px;
  display: flex;
  flex-wrap: wrap;
}
.info .flexbox_info .minicards .card_mini {
  width: 360px;
  display: flex;
  gap: 10px;
}
.info .flexbox_info .minicards .card_mini .cardmini_list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.info .flexbox_info .minicards .card_mini .cardmini_list p {
  color: gray;
  width: 250px;
}

@media (max-width: 530px) {
  nav {
    padding: 20px;
  }
  nav .listhead {
    display: none;
  }
  nav .buttons {
    display: none;
  }
  nav .headeicons {
    display: block;
    display: flex;
    gap: 10px;
  }
  nav img {
    width: 250px;
  }
  .kampir {
    width: 90%;
    padding: 0px;
  }
  .kampir .listkampir .listtop {
    width: 100%;
  }
  .kampir .listkampir .listtop .span {
    font-size: 20px;
  }
  .kampir .listkampir .listtop h1 {
    font-size: 16px;
  }
  .kampir .listkampir .listbottom {
    flex-direction: column;
    align-items: start;
    row-gap: 50px;
  }
  .kampir2 {
    flex-direction: column;
    padding: 10px;
  }
  .kampir2 .listleft {
    padding: 20px;
  }
  .kampir2 .listleft .p1 {
    width: 335px;
    font-size: 24px;
  }
  .kampir2 .im1 {
    display: none;
  }
  .kampir2 .im2 {
    display: block;
  }
  .info h1 {
    text-align: start;
    padding: 20px;
    font-size: 24px;
  }
  .info .flexbox_info {
    flex-direction: column;
    padding: 20px;
  }
  .info .flexbox_info .minicards {
    width: 90%;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */