@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

nav {
  max-width: 1400px;
  margin: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .headeicons {
  display: none;
}
nav .listhead {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
nav .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .buttons button {
  padding: 15px 30px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(90deg, #3f7f22, #4ecb3a);
  color: #ffffff;
}

.kampir {
  max-width: 1400px;
  margin: auto;
  height: 751px;
  background-image: url(./Слой\ 2\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kampir .listkampir {
  margin-top: 100px;
  width: 80%;
  height: 515px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.kampir .listkampir .listbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kampir .listkampir .listbottom div {
  display: flex;
  gap: 10px;
}
.kampir .listkampir .listtop {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.kampir .listkampir .listtop .span {
  font-size: 60px;
}

.kampir2 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kampir2 .listleft {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.kampir2 .listleft .p1 {
  width: 605px;
  font-size: 48px;
  font-weight: 400px;
}
.kampir2 .listleft .p2 {
  width: 320px;
  color: gray;
  font-weight: 400;
}
.kampir2 .im1 {
  width: 60%;
}
.kampir2 .im2 {
  display: none;
}

.info {
  max-width: 1300px;
  margin: auto;
}
.info h1 {
  text-align: center;
  font-weight: 400;
  width: 90%;
}
.info .flexbox_info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 50px;
}
.info .flexbox_info img {
  width: 450px;
}
.info .flexbox_info .minicards {
  width: 899px;
  display: flex;
  flex-wrap: wrap;
}
.info .flexbox_info .minicards .card_mini {
  width: 360px;
  display: flex;
  gap: 10px;
}
.info .flexbox_info .minicards .card_mini .cardmini_list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.info .flexbox_info .minicards .card_mini .cardmini_list p {
  color: gray;
  width: 250px;
}

.voyma {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}
.voyma .voyma_header {
  display: flex;
  justify-content: space-between;
}
.voyma .voyma_header button {
  padding: 15px 30px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(90deg, #3f7f22, #4ecb3a);
  color: #ffffff;
}
.voyma .voyma_header h1 {
  font-weight: 400;
}
.voyma .voyma_images {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.voyma .voyma_images .img1 {
  width: 320px;
}
.voyma .voyma_images .img2 {
  width: 520px;
}
.voyma .voyma_images .img3 {
  width: 320px;
}
.voyma .footer_voyma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  row-gap: 10px;
}
.voyma .footer_voyma h3 {
  color: #5E4520;
}
.voyma .footer_voyma button {
  display: none;
  padding: 15px 30px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(90deg, #3f7f22, #4ecb3a);
  color: #ffffff;
}

.video {
  max-width: 1200px;
  display: block;
  margin: auto;
  margin-top: 100px;
}

.box {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}
.box .jjs {
  text-align: center;
}
.box .lite {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 20px;
  gap: 50px;
  margin-top: 30px;
}
.box .lite .left_lite {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.box .lite .left_lite .btnl {
  display: flex;
  justify-content: space-between;
}
.box .lite .left_lite .btnl h1 {
  font-size: 64px;
  color: #323638;
}
.box .lite .left_lite .btnl button {
  padding: 15px 30px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(90deg, #3f7f22, #4ecb3a);
  color: #ffffff;
}
.box .lite .left_lite .chek {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.box .lite .left_lite .chek div {
  display: flex;
  gap: 10px;
}
.box .lite .left_lite .malochniy {
  padding: 30px;
  background-color: #FFFAF2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.box .lite .left_lite .malochniy .nomer {
  display: flex;
  justify-content: space-between;
}
.box .lite .left_lite .malochniy .plus {
  display: flex;
  gap: 10px;
}
.box .lite .left_lite .malochniy .lux {
  display: flex;
  justify-content: space-between;
}

.profils {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}
.profils .flexprofils {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}
.profils .flexprofils .profil {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
}
.profils .flexprofils .profil2 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  margin-top: -150px;
}
.profils .uuu {
  display: block;
  margin: auto;
}

@media (max-width: 530px) {
  nav {
    padding: 20px;
  }
  nav .listhead {
    display: none;
  }
  nav .buttons {
    display: none;
  }
  nav .headeicons {
    display: block;
    display: flex;
    gap: 10px;
  }
  nav img {
    width: 250px;
  }
  .kampir {
    width: 90%;
    padding: 0px;
  }
  .kampir .listkampir .listtop {
    width: 100%;
  }
  .kampir .listkampir .listtop .span {
    font-size: 20px;
  }
  .kampir .listkampir .listtop h1 {
    font-size: 16px;
  }
  .kampir .listkampir .listbottom {
    flex-direction: column;
    align-items: start;
    row-gap: 50px;
  }
  .kampir2 {
    flex-direction: column;
    padding: 10px;
  }
  .kampir2 .listleft {
    padding: 20px;
  }
  .kampir2 .listleft .p1 {
    width: 335px;
    font-size: 24px;
  }
  .kampir2 .im1 {
    display: none;
  }
  .kampir2 .im2 {
    display: block;
  }
  .info h1 {
    text-align: start;
    padding: 20px;
    font-size: 24px;
  }
  .info .flexbox_info {
    flex-direction: column;
    padding: 20px;
  }
  .info .flexbox_info .minicards {
    width: 90%;
    gap: 40px;
  }
  .voyma {
    padding: 20px;
  }
  .voyma .voyma_header button {
    display: none;
  }
  .voyma .voyma_images .img1 {
    display: none;
  }
  .voyma .voyma_images .img2 {
    width: 90%;
  }
  .voyma .voyma_images .img3 {
    display: none;
  }
  .voyma .footer_voyma button {
    display: block;
  }
  .video {
    width: 90%;
  }
  .lite {
    flex-direction: column;
  }
  .lite .btnl {
    flex-direction: column;
  }
  .profils .flexprofils {
    margin-top: 30px;
  }
  .profils .flexprofils .profil {
    display: none;
  }
  .profils .flexprofils .profil2 {
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */